# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
build/
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment
.env
.env.*
.prettierrc

# Editors
.DS_Store
.idea/
.vscode/

# Misc
*.local
*.log

# Generated
apps/web/public/models/
apps/web/.turbo/
apps/web/.vite/
apps/web/.cache/
apps/api/.tsbuildinfo
